<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STUDENTS MANAGE SERVICE</title>
</head>
<body>
    {% if user.is_authenticated %}

    안녕하세요 ~ {{user}} 님 >,,< <a href="{% url 'logout' %}">
        <button>
            로그아웃
        </button>
        </a>
        <br>
        <a href="{% url 'create' %}">
            <button>
                학생 정보 추가
            </button>
        </a>
        {% else %} <a href="{% url 'login' %}">
            <button>
                로그인
            </button>
        </a>

        <a href="{% url 'signup' %}">
            <button>
                회원가입
            </button>
        </a>
        {% endif %}

    <a href="{% url 'login' %}"><button type="submit">로그인</button></a>
    <button type="submit">회원가입</button>
    <table border="1">
        <tr>
            <th width="10%">이름</th>
            <th width="10%">학과</th>
            <th width="10%">학번</th>
            <th width="20%">입학 년도</th>
            <th width="10%">학년</th>
            <th width="20%">평균 학점</th>
            <th width="10%">자세히</th>
        </tr>
        {% for student in all_student %}
            <tr>
                <td>{{student.name}}</td>
                <td>{{student.major}}</td>
                <td>{{student.admission_year}}</td>
                <td>{{student.class_number}}</td>
                <td>{{student.grade}}</td>

                <td><a href="{% url 'detail' student.id %}">
                        자세히 보기
                    </a>
                </td>
            </tr>
            {% endfor %}
    </table>
</body>
</html>